
.no-list-style {
    list-style-type: none !important;
}

.ellipsis-item {
    min-width: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.border-box {
    box-sizing: border-box !important;
}

.select-none {
    user-select: none !important;
}

.no-underline {
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
}

.no-uppercase {
    text-transform: initial !important;
}

.no-border-radius {
    border-radius: 0 0 0 0 !important;
}

.resize-none {
    resize: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

.transition-100ms {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

.transition-200ms {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.transition-300ms {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

/* font size, weight, line-height */

.font-11 {
    font-size: 11px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-17 {
    font-size: 17px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-19 {
    font-size: 19px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-21 {
    font-size: 21px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-23 {
    font-size: 23px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-26 {
    font-size: 26px !important;
}

.font-34 {
    font-size: 34px !important;
}

.font-44 {
    font-size: 44px !important;
}

.font-55 {
    font-size: 55px !important;
}

/* colors */

.color-green {
    color: #8fad2c !important;
}

.color-red {
    color: #ce5959 !important;
}

.color-yellow {
    color: #faa21a !important;
}

.color-turquoise {
    color: #29949a !important;
}

.color-blue {
    color: #014278 !important;
}

.color-orange {
    color: #faa21a !important;
}

.color-white, button.color-white, a.color-white {
    color: rgba(255, 255, 255, 0.95) !important;
}

.color-black {
    color: #000 !important;
}

.color-warm-white {
    color: rgba(255, 255, 255, 0.8) !important;
}

/* position, display */

.hidden {
    display: none !important;
}

.display-block {
    display: block !important;
}

.display-inline-block {
    display: inline-block !important;
}

.display-none {
    display: none !important;
}

.display-initial {
    display: initial !important;
}

.display-flex {
    display: flex !important;
}

.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.position-fixed {
    position: fixed !important;
}

/* flex classes */

.layout-column {
    flex-direction: column;
}

.layout-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-none {
    flex: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-start {
    align-self: flex-start;
}

.flex-align-end {
    align-self: flex-end;
}

.flex-align-center {
    align-self: center;
}

.flex-align-items-start {
    align-items: flex-start;
}

.flex-align-items-end {
    align-items: flex-end;
}

.flex-align-items-center {
    align-items: center;
}

.flex-align-content-start {
    align-content: flex-start;
}

.flex-align-content-end {
    align-content: flex-end;
}

.flex-align-content-center {
    align-content: center;
}

.flex-justify-content-start {
    justify-content: flex-start;
}

.flex-justify-content-end {
    justify-content: flex-end;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-align-start-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.flex-align-center-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-align-end-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* text align */

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

/* border, padding, margin shortcuts */

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-border-right {
    border-right: 0 !important;
}

.no-border-left {
    border-left: 0 !important;
}

.no-border-top {
    border-top: 0 !important;
}

.no-border-bottom {
    border-bottom: 0 !important;
}

.margin-center {
    margin: 0 auto !important;
}

.border-sm {
    border: 1px solid #a0a0a0 !important;
}

.border-lg-white {
    border: 5px solid #fff !important;
}

.border-dashed-bottom {
    border-bottom: 1px dashed #a0a0a0 !important;
}

.border-dashed-top {
    border-top: 1px dashed #a0a0a0 !important;
}

.border-left-sm {
    border-left: 1px solid #a0a0a0 !important;
}

.border-left-md {
    border-left: 2px solid #a0a0a0 !important;
}

.border-right-sm {
    border-right: 1px solid #a0a0a0 !important;
}

.border-right-md {
    border-right: 2px solid #a0a0a0 !important;
}

.border-top-sm {
    border-top: 1px solid #a0a0a0 !important;
}

.border-top-md {
    border-top: 2px solid #a0a0a0 !important;
}

.border-bottom-sm {
    border-bottom: 1px solid #a0a0a0 !important;
}

.border-bottom-md {
    border-bottom: 2px solid #a0a0a0 !important;
}

.padding-right-xs {
    padding-right: 2px !important;
}

.padding-left-xs {
    padding-left: 2px !important;
}

.padding-top-xs {
    padding-top: 2px !important;
}

.padding-bottom-xs {
    padding-bottom: 2px !important;
}

.padding-right-sm {
    padding-right: 5px !important;
}

.padding-left-sm {
    padding-left: 5px !important;
}

.padding-top-sm {
    padding-top: 5px !important;
}

.padding-bottom-sm {
    padding-bottom: 5px !important;
}

.padding-right-md {
    padding-right: 10px !important;
}

.padding-left-md {
    padding-left: 10px !important;
}

.padding-top-md {
    padding-top: 10px !important;
}

.padding-bottom-md {
    padding-bottom: 10px !important;
}

.padding-right-lg {
    padding-right: 15px !important;
}

.padding-left-lg {
    padding-left: 15px !important;
}

.padding-top-lg {
    padding-top: 15px !important;
}

.padding-bottom-lg {
    padding-bottom: 15px !important;
}

.padding-right-xlg {
    padding-right: 25px !important;
}

.padding-left-xlg {
    padding-left: 25px !important;
}

.padding-top-xlg {
    padding-top: 25px !important;
}

.padding-bottom-xlg {
    padding-bottom: 25px !important;
}

.padding-right-xxlg {
    padding-right: 50px !important;
}

.padding-left-xxlg {
    padding-left: 50px !important;
}

.padding-top-xxlg {
    padding-top: 50px !important;
}

.padding-bottom-xxlg {
    padding-bottom: 50px !important;
}

.padding-xs {
    padding: 2px !important;
}

.padding-xs-left-right {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.padding-xs-top-bottom {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.padding-sm {
    padding: 5px !important;
}

.padding-sm-left-right {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.padding-sm-top-bottom {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-md {
    padding: 10px !important;
}

.padding-md-left-right {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padding-md-top-bottom {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.padding-lg {
    padding: 15px !important;
}

.padding-lg-left-right {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.padding-lg-top-bottom {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.padding-xlg {
    padding: 25px !important;
}

.padding-xlg-left-right {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.padding-xlg-top-bottom {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.padding-xxlg {
    padding: 50px !important;
}

.padding-xxlg-left-right {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.padding-xxlg-top-bottom {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.margin-xs {
    margin: 2px !important;
}

.margin-sm {
    margin: 5px !important;
}

.margin-right-xs {
    margin-right: 2px !important;
}

.margin-right-sm {
    margin-right: 5px !important;
}

.margin-right-md {
    margin-right: 10px !important;
}

.margin-right-lg {
    margin-right: 15px !important;
}

.margin-right-xlg {
    margin-right: 25px !important;
}

.margin-left-xs {
    margin-left: 2px !important;
}

.margin-left-sm {
    margin-left: 5px !important;
}

.margin-left-md {
    margin-left: 10px !important;
}

.margin-left-lg {
    margin-left: 15px !important;
}

.margin-left-xlg {
    margin-left: 25px !important;
}

.margin-top-xs {
    margin-top: 2px !important;
}

.margin-top-sm {
    margin-top: 5px !important;
}

.margin-top-md {
    margin-top: 10px !important;
}

.margin-top-lg {
    margin-top: 15px !important;
}

.margin-top-xlg {
    margin-top: 25px !important;
}

.margin-bottom-xs {
    margin-bottom: 2px !important;
}

.margin-bottom-sm {
    margin-bottom: 5px !important;
}

.margin-bottom-md {
    margin-bottom: 10px !important;
}

.margin-bottom-lg {
    margin-bottom: 15px !important;
}

.margin-bottom-xlg {
    margin-bottom: 25px !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    &:window-inactive {
        background: rgba(0, 0, 0, 0.1);
    }
}

/* height, width */

.height-full {
    min-height: 100%;
    max-height: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.width-full {
    min-width: 100%;
    max-width: 100%;
    min-width: 100vw;
    max-width: 100vw;
}

.full-width {
    width: 100%;
}

.min-width-min-content {
    min-width: min-content;
}

.min-width-max-content {
    min-width: max-content;
}

/* placeholder & custom input placeholder color */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #999;
}

:-moz-placeholder { /* Firefox 18- */
    color: #999;
}

input {
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.8);
    }
}

::selection, ::-moz-selection {
    background: #5cb85c;
    color: #fff;
}
