<nav class="navbar navbar-expand-lg navbar-light bg-light margin-bottom-lg">
    <a
        [routerLink]="(authState | async).authenticated ? ['/'] : []"
        class="navbar-brand">
        <div class="row margin-right-lg">
            <span class="icon-recipe d-flex no-margin-bottom margin-left-lg font-24"></span>
            <span class="padding-left-sm">Recipe Book</span>
        </div>
    </a>

    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        appDropdown>
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
            class="navbar-nav mr-auto mobile-margin-top-md">
            <ng-template [ngIf]="(authState | async).authenticated">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/recipes">Recipes</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
                </li>
            </ng-template>
        </ul>

        <ul class="navbar-nav mobile-margin-top-md">
            <ng-template [ngIf]="!(authState | async).authenticated">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link cursor-pointer" routerLink="/signup">Register</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link cursor-pointer" routerLink="/signin">Login</a>
                </li>
            </ng-template>

            <li
                class="nav-item dropdown"
                appDropdown
                *ngIf="(authState | async).authenticated">
                <a
                    class="nav-link dropdown-toggle"
                    href="javascript:;"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a
                        class="dropdown-item cursor-pointer"
                        (click)="updateRecipeList()">Save Data</a>

                    <a
                        class="dropdown-item cursor-pointer"
                        (click)="fetchRecipes()">Fetch Data</a>
                </div>
            </li>

            <li
                class="nav-item"
                *ngIf="(authState | async).authenticated">
                <a
                    class="nav-link cursor-pointer title-popover"
                    (click)="onLogout()"
                    *ngIf="(authState | async).authenticated"
                    title="Logout">
                    <span class="icon-logout"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
